<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todo Lists</title>
</head>

<body>
    <main>
        <div>
            <h1>{{ todo_list_detail.name }}</h1>
            <p>
                <a href="{% url 'todo_list_update' todo_list_detail.id %}">Edit</a>
                <a href="{% url 'todo_list_delete' todo_list_detail.id %}">Delete</a>
            </p>
            <h2>Tasks</h2>

            <table border="0">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo_item in todo_list_detail.items.all %}
                    <tr>
                        <td><a href="{% url 'todo_item_update' todo_item.id %}">{{ todo_item.task }}</a></td>
                        <td> {{ todo_item.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
